[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only
[user]
	name = Tautvydas Šidlauskas
	email = tautvydas.sidlauskas@gmail.com
[alias]	
  rmd = "!f() { \
                  branchToMerge=$(git rev-parse --abbrev-ref HEAD); \
                  destinationBranch=\"develop\"; \
                  for i in \"$@\" ; do \
                      destinationBranch=$i; \
                  done; \
        git up && \
                  git checkout $destinationBranch && \
                  git up && \
                  git checkout $branchToMerge && \
                  git fixup $destinationBranch && \
                  git pf && \
                  git checkout $destinationBranch && \
                  git merge $branchToMerge && \
                  git push && \
                  git push origin --delete $branchToMerge && \
                  git branch -d $branchToMerge; \
                  if [ $? -ne 0 ]; then \
                      git checkout $branchToMerge; \
                  fi; \
          }; f"
  fixup = !GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash
  pf = push --force-with-lease
  up = pull --rebase --prune
  dd = "!f(){ git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; };f"
  logtree = log --graph --oneline --decorate --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
  last = "!git --no-pager log --graph --oneline --decorate --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' -n 10"
[push]
	default = current
	autoSetupRemote = true
	rebase = true
[merge]
  conflictstyle = diff3
	tool = vimdiff1
[diff]
  colorMoved = default

[delta]
  features = gruvmax-fang
[delta "gruvmax-fang"]
  # General appearance
  dark = true
  syntax-theme = gruvbox-dark
  # File
  file-style = "#FFFFFF" bold
  file-added-label = [+]
  file-copied-label = [==]
  file-modified-label = [*]
  file-removed-label = [-]
  file-renamed-label = [->]
  file-decoration-style = "#434C5E" ul
  file-decoration-style = "#84786A" ul
  # No hunk headers
  hunk-header-style = omit
  # Line numbers
  line-numbers = true
  line-numbers-left-style = "#84786A"
  line-numbers-right-style = "#84786A"
  line-numbers-minus-style = "#A02A11"
  line-numbers-plus-style = "#479B36"
  line-numbers-zero-style = "#84786A"
  line-numbers-left-format = " {nm:>3} │"
  line-numbers-right-format = " {np:>3} │"
  # Diff contents
  inline-hint-style = syntax
  minus-style = syntax "#330011"
  minus-emph-style = syntax "#80002a"
  minus-non-emph-style = syntax auto
  plus-style = syntax "#001a00"
  plus-emph-style = syntax "#003300"
  plus-non-emph-style = syntax auto
  whitespace-error-style = "#FB4934" reverse
  # Commit hash
  commit-decoration-style = normal box
  commit-style = "#ffffff" bold
  # Blame
  blame-code-style = syntax
  blame-format = "{author:>18} ({commit:>8}) {timestamp:<13} "
  blame-palette = "#000000" "#1d2021" "#282828" "#3c3836"
  # Merge conflicts
  merge-conflict-begin-symbol = ⌃
  merge-conflict-end-symbol = ⌄
  merge-conflict-ours-diff-header-style = "#FABD2F" bold
  merge-conflict-theirs-diff-header-style = "#FABD2F" bold overline
  merge-conflict-ours-diff-header-decoration-style = ''
  merge-conflict-theirs-diff-header-decoration-style = ''


[mergetool "diffconflicts"]
  cmd = nvim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true
[mergetool]
	keepBackup = false
  hideResolved = true
[init]
	defaultBranch = main
[rebase]
	updateRefs = true
[pull]
	rebase = true
[advice]
	skippedCherryPicks = false

