nvim/.config/nvim/plugin/packer_compiled.lua
.DS_Store

lazygit/Library/Application Support/lazygit/state.yml
Session.vim
Brewfile.lock.json
vscode/Library/Application Support/Code
!vscode/Library/Application Support/Code/User/keybindings.json
!vscode/Library/Application Support/Code/User/settings.json
